{% for mirror in mirrors %}Codename: {{ mirror.local_suite }}
Suite: {{ mirror.local_suite }}
{%- if mirror.version %}
Version: {{ mirror.version }}
{%- endif %}
Label: {{ mirror.origin }}
Origin: {{ mirror.origin }}
Components: {{ mirror.components }}
Architectures: {{ mirror.archs }}
SignWith: ! {{ sign_script }}
Update: update-repo-{{ mirror.local_suite }}

{% endfor %}
