{%- for mirror in mirrors}
    Name: update-repo-{{ mirror.suite }}
    Method: {{ mirror.url }}
    Suite: {{ mirror.suite }}
    Components: {{ mirror.components }}
    Architectures: {{ mirror.archs }}
    VerifyRelease: {{ mirror.key }}

{%- endfor %}
