{% for mirror in mirrors %}Name: update-repo-{{ mirror.local_suite }}
Method: {{ mirror.url }}
Suite: {{ mirror.remote_suite }}
Components: {{ mirror.components }}
Architectures: {{ mirror.archs }}
VerifyRelease: {{ mirror.key }}

{% endfor %}
